{{- /* Author block */ -}}
{{ $page := . }}

{{- with $authors := $page.Params.authors }}
{{- if site.Params.enableAuthorBlock }}
{{- with $authorName := index $authors 0 }}
<div class="c-author">
    <div class="c-author__avatar">
        <span class="c-author__avatar-icon">{{ partial "svg/person.html" }}</span>
    </div>
    <div class="c-author__info">
        <div>
            <span class="c-author__label">Author</span>
            <h3 class="c-author__name">{{ $authorName }}</h3>
        </div>
        {{- /* Attempt to load author bio from taxonomy term */ -}}
        {{- with $authorTerm := site.GetPage (printf "/authors/%s" ($authorName | urlize)) }}
        {{- with $bio := $authorTerm.Params.description }}
        <p class="c-author__bio">{{ $bio }}</p>
        {{- end }}
        {{- end }}
        <div class="c-author__social">
            {{- with $social := site.Params.social }}
            <div class="c-author__social-icons">
                {{- with $twitter := $social.twitter }}
                <a class="c-author__social-link" href="{{ $twitter }}" rel="noopener noreferrer" target="_blank">
                    {{ partial "svg/x-twitter.html" }}
                </a>
                {{- end }}
            </div>
            {{- end }}
            <div class="c-author__social-divider"></div>
            {{- with $authorTerm := site.GetPage (printf "/authors/%s" ($authorName | urlize)) }}
            <a class="c-author__more-link" href="{{ $authorTerm.RelPermalink }}">
                More from author
                <span class="c-author__more-icon">{{ partial "svg/arrow-forward.html" }}</span>
            </a>
            {{- end }}
        </div>
    </div>
</div>
{{- end }}
{{- end }}
{{- end }}
