{{- /* Author block */ -}}
{{ $page := . }}

{{- /* === API Contract: External Dependencies ================================= */ -}}
{{- $authors := $page.Params.authors -}}
{{- $enableAuthorBlock := site.Params.enableAuthorBlock -}}
{{- /* ========================================================================== */ -}}

{{- with $authors }}
{{- if $enableAuthorBlock }}
{{- with $authorName := index $authors 0 }}
{{- $authorTerm := site.GetPage (printf "/authors/%s" ($authorName | urlize)) }}
{{- $avatar := $authorTerm.Params.avatar -}}
{{- $description := $authorTerm.Params.description -}}
{{- $socials := $authorTerm.Params.socials -}}
<div class="c-author">
  <div class="c-author__avatar">
    {{- $hasAvatar := false }}
    {{- with $avatar }}
      <img class="c-author__avatar-image" src="{{ $avatar | relURL }}" alt="{{ $authorName }}">
      {{- $hasAvatar = true }}
    {{- end }}
    {{- if not $hasAvatar }}
    <span class="c-author__avatar-icon">{{ partial "svg/person.html" }}</span>
    {{- end }}
  </div>
  <div class="c-author__info">
    <div>
      <span class="c-author__label">Author</span>
      <h3 class="c-author__name">{{ $authorName }}</h3>
    </div>
    {{- /* Loads author bio from taxonomy term */ -}}
    {{- with $authorTerm }}
      {{- if $authorTerm.Content }}
      <div class="c-author__bio">{{ $authorTerm.Content }}</div>
      {{- else if $description }}
      <p class="c-author__bio">{{ $description }}</p>
      {{- end }}
    {{- end }}
    <div class="c-author__social">
      {{- with $socials }}
      <div class="c-author__social-icons">
        {{- range $link := $socials }}
        <a class="c-author__social-link" href="{{ $link.url }}" rel="noopener noreferrer" target="_blank">
          <span class="c-author__social-icon" aria-hidden="true">{{ partial (printf "svg/%s.html" $link.icon) }}</span>
          <span class="u-sr-only">{{ $link.name }}</span>
        </a>
        {{- end }}
      </div>
      <div class="c-author__social-divider"></div>
      {{- end }}
      <a class="c-author__more-link" href="{{ $authorTerm.RelPermalink }}">
        More from author
        <span class="c-author__more-icon">{{ partial "svg/arrow-forward.html" }}</span>
      </a>
    </div>
  </div>
</div>
{{- end }}
{{- end }}
{{- end }}
