{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $kwargs := . }}
{{- $page := $kwargs.page }}
{{- $taxonomy := $kwargs.taxonomy }}

{{- with $terms := $page.GetTerms $taxonomy }}
  {{- $label := (index $terms 0).Parent.LinkTitle }}
  <div>
    <div>{{ $label }}:</div>
    <ul>
      {{- range $term := $terms }}
        <li><a href="{{ $term.RelPermalink }}">{{ $term.LinkTitle }}</a></li>
      {{- end }}
    </ul>
  </div>
{{- end }}
