{{- /* Newsletter widget */ -}}
{{- $kwargs := . | default dict }}
{{ $enabled := $kwargs.enabled | default site.Params.enableNewsletter }}
{{ $title := $kwargs.title | default site.Params.newsletter.title | default "Dispatch" }}
{{ $frequencyText := $kwargs.frequencyText | default site.Params.newsletter.frequencyText }}
{{ $action := $kwargs.action | default site.Params.newsletter.action }}

{{- with $enabled }}
  <div class="c-widget c-widget--newsletter" id="newsletter-widget">
    <div class="c-widget__header">
      <span class="c-widget__icon">{{ partial "svg/mail.html" }}</span>
      <h5 class="c-widget__title">{{ $title }}</h5>
    </div>
    {{- with $freqText := $frequencyText }}
      <p class="c-widget__body">{{ $freqText }}</p>
    {{- end }}

    <form class="c-sidebar__form js-newsletter-form" id="newsletter-form" action="{{ $action }}" method="POST">
      <input class="c-sidebar__input" type="email" name="email" placeholder="EMAIL ADDRESS" aria-label="Email address for newsletter subscription" required>
      <button class="c-sidebar__submit" type="submit">
        <span class="c-sidebar__submit-text">Subscribe</span>
        <span class="c-sidebar__submit-icon">{{ partial "svg/arrow-forward.html" }}</span>
        <span class="c-sidebar__submit-spinner">{{ partial "svg/spinner.html" }}</span>
      </button>
    </form>
    <div class="c-sidebar__feedback">
      <p class="c-sidebar__feedback-message c-sidebar__feedback-message--success">
        Thanks for subscribing! Please check your inbox.
      </p>
      <p class="c-sidebar__feedback-message c-sidebar__feedback-message--error">
        Oops! Something went wrong. Please try again later.
      </p>
    </div>
  </div>
{{- end }}