{{- $mode := .mode | default "ssr" -}}
{{- $title := .title | default "Tags" -}}
{{- $icon := .icon | default "svg/tags.html" -}}
{{- $limit := .limit | default 15 -}}

{{- if eq $mode "ssr" -}}
    {{- with $tags := site.Taxonomies.tags -}}
        <div class="c-sidebar__widget c-sidebar__widget--tags">
            <div class="c-sidebar__widget-header">
                <span class="c-sidebar__widget-icon">{{ partial (printf "%s" $icon) }}</span>
                <h5 class="c-sidebar__widget-title">{{ $title }}</h5>
            </div>
            <div class="c-sidebar__category-list">
                {{- $sorted := $tags.ByCount -}}
                {{- range first $limit $sorted -}}
                    <a class="c-sidebar__category-link" href="{{ .Page.RelPermalink }}">
                        <span class="c-sidebar__category-name">#{{ .Page.Title }}</span>
                    </a>
                {{- end -}}
            </div>
        </div>
    {{- end -}}
{{- else if eq $mode "csr" -}}
    <div class="c-search-widget">
        <div class="c-search-widget__header">
            {{ partial (printf "%s" $icon) }}
            <h5 class="c-search-widget__subtitle">{{ $title }}</h5>
        </div>
        <ul class="c-search-suggested" id="dynamic-tags-container" data-limit="{{ $limit }}"></ul>
    </div>
    
    <template id="tpl-suggested-tag">
        <li class="c-search-suggested__item">
            <button type="button" class="c-search-suggested__link" data-filter-tag="{NAME_LOWER}" style="appearance:none; background:transparent; border:none; width:100%; text-align:left; cursor:pointer; padding:0; font-family:inherit;">
                <span class="c-search-suggested__text">#{NAME}</span>
            </button>
        </li>
    </template>
{{- end -}}