{{- /*
  tags-dynamic.html
  Client-side tags widget structure + templates for Vanilla JS
  @context {Object} Widget configuration
*/ -}}

{{- $kwargs := . | default dict }}
{{- $title := $kwargs.title | default "Tags" -}}
{{- $limit := $kwargs.limit | default 15 -}}

<div class="c-widget c-widget-tags">
  <a href="{{ "tags" | relURL }}" class="c-widget__header c-widget__header--link c-widget-tags__header">
    <span class="c-widget__icon">{{ partial "svg/tags.html" }}</span>
    <h5 class="c-widget__title c-widget-tags__title">{{ $title }}</h5>
  </a>
  <ul class="c-widget-tags__list" id="dynamic-tags-container" data-limit="{{ $limit }}"></ul>
</div>

<template id="tpl-suggested-tag">
  <li class="c-widget-tags__item">
    <button type="button" class="c-widget-tags__link" data-filter-tag="{NAME_LOWER}">
      <span class="c-widget-tags__name">#{NAME}</span>
      <span class="c-widget-tags__count">{COUNT}</span>
    </button>
  </li>
</template>
