/* ==========================================================================
   COMPONENT: FOOTER — @layer components
   .c-footer — Site footer with copyright and menu links.
   ========================================================================== */

.c-footer {
  /* @api: bg, text, text-hover, border */
  --_bg: var(--footer-bg);
  --_text: var(--footer-text);
  --_text-hover: var(--footer-text-hover);
  --_border: var(--footer-border);

  /* @internal: padding-x, padding-y, gap, label-size, copyright-opacity, link-opacity, border-w, transition */
  --_padding-x: var(--space-12);
  --_padding-y: var(--space-20);
  --_gap: var(--space-8);
  --_label-size: var(--text-xs);
  --_copyright: oklch(from var(--_text) l c h / var(--opacity-subtle));
  --_link: oklch(from var(--_text) l c h / var( --_link-opacity));
  --_link-opacity: var(--opacity-subtle);
  --_border-w: var(--border-width-minimal);
  --_transition: var(--transition-normal-ease-default);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--_padding-y) var(--_padding-x);
  background-color: var(--_bg);
  border-top: var(--_border-w) solid var(--_border);
  gap: var(--_gap);
}

@media (width >= 768px) {
  .c-footer {
    flex-direction: row;
  }
}

.c-footer__copyright {
  font-size: var(--_label-size);
  font-weight: var(--weight-black);
  letter-spacing: var(--tracking-widest);
  text-transform: uppercase;
  color: var(--_copyright)
}

.c-footer__nav {
  display: flex;
  gap: var(--space-12);
}

.c-footer__link {
  font-size: var(--text-2xs);
  font-weight: var(--weight-bold);
  letter-spacing: var(--tracking-wider);
  text-transform: uppercase;
  color: var(--_link);
  transition: color var(--_transition);
}

.c-footer__link:hover {
  color: var(--_text-hover);
}